/* CSS custom properties */

:root {
    --paper: #EAE3DB;
    --paper-light: #F7F1E6;
    --midnight: #232834;
    --midnight-light: #373A44;
    --midnight-lighter: #545967;
    --forest: #304442;
    --cranberry: #9D0F13;
    --wedding-blue: #4786A9;
    --dusty-blue: #becad2;
    --sage: #c2d2ce;
    --blush: #f1e6e7;
    --header-height: 50px;
}

/* Default styles */

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/CourierPrime.eot');
    src: url('fonts/CourierPrime.eot?#iefix') format('embedded-opentype'), url('fonts/CourierPrime.woff') format('woff'), url('fonts/CourierPrime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--paper);
    padding-top: var(--header-height);
}

h1, h2, h3 {
    font-family: 'Lora', Georgia, serif;
    font-style: italic;
    font-weight: bold;
    color: var(--midnight);
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--midnight);
    font-size: 16px;
    line-height: 1.4em;
}

.button {
    font-family: Courier, 'Courier Prime', monospace;
    font-weight: normal;
    font-style: normal;
    background-color: var(--midnight-light);
    color: white;
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: var(--midnight-lighter);
}

.navbar {
    overflow: hidden;
    background-color: var(--midnight-light);
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 1;
}

.navbar .navbar-links {
    display: inline-block;
    line-height: var(--header-height);
    vertical-align: top;
    box-sizing: border-box;
}

.navbar .navbar-links a {
    color: white;
    font-family: Courier, 'Courier Prime', monospace;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .navbar-links a span {
    -webkit-transition: border 0.4s ease-out;
    -moz-transition: border 0.4s ease-out;
    transition: border 0.4s ease-out;
    border-bottom: 2px solid transparent;
}

.navbar .navbar-links a:hover span {
    border-bottom: 2px solid white;
}

.navbar .home-logo {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .home-logo a {
    display: inline-block;
    background-image: url('/images/s-and-k-w.svg');
    height: 50px;
    width: 50px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.navbar .home-logo a:hover {
    background-image: url('/images/s-and-k.svg');
}

.navbar .home-logo img {
    height: var(--header-height);
    width: var(--header-height);
    padding: 5px;
    box-sizing: border-box;
}

.mono {
    font-family: Courier, 'Courier Prime', monospace;
    font-weight: normal;
    font-style: normal;
}

.title-outer-container {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 60px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.title-inner-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-inner-container::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    border-top: 2px solid var(--midnight);
}

.title-inner-container::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    border-bottom: 2px solid var(--midnight);
}

.title {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.subtitle {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    font-family: Courier, 'Courier Prime', monospace;
    font-style: initial;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 50px;
}

.bottom-logo {
    display: block;
    height: 84px;
    width: 84px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

/* Home page */

.home-page {
    background-color: var(--paper);
    padding-top: 0;
}

.home-page .title-outer-container {
    margin-top: 0;
}

.hero-section {
    height: 450px;
    background: url('/images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-section h1, .hero-section h2, .hero-section h3, .hero-section p {
    color: var(--midnight-light);
}

.hero-section .title-inner-container {
    padding-top: 6px;
    padding-bottom: 6px;
}

.hero-logo {
    position: absolute;
    height: 58px;
    width: 58px;
    top: 15px;
    right: 15px;
}
@media (max-width: 540px) {
    .hero-logo {
        bottom: 15px;
        top: auto;
        height: 52px;
        width: 52px;
    }
}

.home-page .section-title {
    margin-top: 40px;
}

.main-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.main-menu .menu-item {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: var(--midnight);
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    text-align: center;
    padding-top: 152px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: var(--paper-light);
    transition: background-color 0.5s ease;
    padding-left: 10px;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    .main-menu .menu-item {
        width: 100%;
    }
}

@media (max-width: 740px) {
    /* body {
        padding-top: 0px;
    } */
    .navbar {
        height: auto;
        /* position: relative; */
    }
    .navbar .home-logo {
        display: none;
    }
    .navbar .navbar-links a:not(:last-child)::after {
        content: "●";
        font-size: 10px;
        opacity: 0.3
    }
    .navbar .navbar-links {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        line-height: 20px;
        padding-bottom: 10px;
        padding-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar .navbar-links a {
        padding-left: 3px;
        padding-right: 3px;
        padding-top:3px;
    }
}

.main-menu .menu-item::after {
    content: " ";
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    top: -6px;
    right: -6px;
    left: 4px;
    bottom: 4px;
    border: 2px solid var(--midnight);
}

.main-menu .menu-item:hover {
    background-color: white;
}

.main-menu .details::after {
    background-size: auto 120px;
    background-position: center 20px;
    background-image: url('/images/branch-1.png');
}

.main-menu .about-us::after {
    background-size: auto 110px;
    background-position: center 30px;
    background-image: url('/images/bird-1.png');
}

.main-menu .registry::after {
    background-size: auto 120px;
    background-position: center 22px;
    background-image: url('/images/pinecone-1.png');
}

.main-menu .engagement::after {
    background-size: auto 90px;
    background-position: center 35px;
    background-image: url('/images/dog-1.png');
}

.main-menu .rsvp::after {
    background-size: auto 85px;
    background-position: center 45px;
    background-image: url('/images/butterfly-1.png');
}

.main-menu .party::after {
    background-size: auto 120px;
    background-position: center 20px;
    background-image: url('/images/tree-1.png');
}

.main-menu .chicago::after {
    background-size: auto 120px;
    background-position: center 20px;
    background-image: url('/images/tree-1.png');
}

@media (max-width: 600px) {
    .main-menu .menu-item {
        height: 150px;
        padding-top: 102px;
    }
    .main-menu .details::after {
        background-size: auto 88px;
        background-position: center 15px;
    }
    .main-menu .about-us::after {
        background-size: auto 80px;
        background-position: center 22px;
    }
    .main-menu .registry::after {
        background-size: auto 84px;
        background-position: center 16px;
    }
    .main-menu .engagement::after {
        background-size: auto 68px;
        background-position: center 28px;
    }
    .main-menu .rsvp::after {
        background-size: auto 64px;
        background-position: center 30px;
    }
    .main-menu .party::after {
        background-size: auto 90px;
        background-position: center 15px;
    }
    .main-menu .chicago::after {
        background-size: auto 85px;
        background-position: center 15px;
    }
}

/* About Us Page */

.about-us-page {
    background-color: var(--paper);
}

.about-us-page .title-outer-container {
    background-image: url('/images/bird-1-small-a30.png');
}

.preface {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.preface-title {
    font-family: Courier, 'Courier Prime', monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.photo-row:nth-child(odd) {
    background-color: var(--paper-light);
}

.photo-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    padding-top: 40px;
    padding-bottom: 40px;
}

.photo-row.feature {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-row.feature.bg-1 {
    background-image: url(/images/bird-1-a30.png);
}

.photo-row.feature.bg-2 {
    background-image: url(/images/bird-7-a30.png);
}

.photo-row.feature.bg-3 {
    background-image: url(/images/bird-6-a30.png);
}

.photo, .photo-text-area, .photo-map, .photo-bird {
    flex: 1;
    width: 100px;
    box-sizing: border-box;
}

.photo {
    flex-basis: 30%;
    height: auto;
    padding: 20px;
}

.photo-text-area {
    flex-basis: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature .photo-text-area {
    padding-left: 20px;
    padding-right: 20px;
}

.photo-map {
    align-self: center;
    flex-basis: 30%;
    padding-right: 20px;
    padding-left: 20px;
}

.photo-bird {
    flex-basis: 20%;
    padding: 30px;
}

.photo-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 8px;
}

.photo-location {
    font-family: Courier, 'Courier Prime', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--cranberry);
    margin-top: 8px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .photo-row {
        padding: 0;
        flex-direction: column;
        background-image: none !important;
    }
    .photo-row.reverse {
        flex-direction: column-reverse;
    }
    .photo {
        padding: 0;
        width: 100%;
        flex-basis: auto;
    }
    .photo-text-area {
        width: 100%;
        padding: 20px;
    }
    .photo-map, .photo-bird {
        display: none;
    }
}

/* Wedding Details Page */

.details-page .title-outer-container {
    background-image: url('/images/branch-1-a40.png');
    padding-top: 50px;
}

.details-page {
    /* background-color: #AFC7C1; */
    background-color: var(--sage);
}

.details-page .page-container {
    text-align: center;
}

.details-page .subheader-section p {
    font-family: 'Lora', Georgia, serif;
}

.details-page .text-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.details-page .text-section p {
    text-align: center;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 40px;
}

.details-page .text-section.subheader-section p {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    padding-top: 20px;
    letter-spacing: 1px;
}

.details-page .text-section.subscribe-section p {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    /* font-family: Courier, 'Courier Prime', monospace; */
}

.details-page .details-subheader {
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Courier, 'Courier Prime', monospace;
    color: var(--midnight);
}

.details-page .styled-link {
    color: #2d8473;
}

.details-page .styled-link:hover {
    border-bottom: 2px solid #2d8473;
}

.details-section-container {
    display: inline-block;
    margin-top: 40px;
}

.details-section {
    position: relative;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    box-sizing: border-box;
    background-color: var(--paper-light);
    padding-left: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    max-width: 600px;
}

.details-section table {
    padding: 6px;
    padding-right: 12px;
}

.details-section td {
    color: var(--midnight);
    font-family: Courier;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.details-section td.border-bottom {
    border-bottom: 1px dashed var(--midnight);
}

.details-section .details-label {
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
}

.details-section .details-content {}

.details-section::after {
    content: " ";
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    top: -6px;
    right: -6px;
    left: 4px;
    bottom: 4px;
    border: 2px solid var(--midnight);
}

/* Registry Page */

.registry-page .title-outer-container {
    background-image: url('/images/pinecone-2-a40.png');
}

.registry-page {
    background-color: var(--sage);
}

.registry-page .text-section {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.registry-page .registry-img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    -webkit-transition: border 0.4s ease-out;
    -moz-transition: border 0.4s ease-out;
    transition: border 0.4s ease-out;
    margin-top: 8px;
    box-sizing: border-box;
}

.registry-page .registry-img:hover {
    border: 1px dashed var(--midnight);
}

/* Visiting Chicago Page */

.chicago-page .title-outer-container {
    background-image: url('/images/tree-a40.png');
}

.chicago-page {
    background-color: var(--paper);
}

.chicago-page .content-area {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.chicago-page .category-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 8px;
    margin-top: 60px;
}

.chicago-page .content-area p, .chicago-page .content-area ul {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.chicago-page .content-area p {
    font-family: 'Libre Franklin', sans-serif;
}

.chicago-page .content-area ul {
    padding-left: 0;
    list-style-type: none;
}

.chicago-page .content-area li {
    font-family: Courier, 'Courier Prime', monospace;
    padding-left: 0;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 24px;
}

.chicago-page .hotel-title, .styled-link {
    font-weight: bold;
    color: var(--cranberry);
    margin-bottom: 4px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.4s ease-out;
    -moz-transition: border 0.4s ease-out;
    transition: border 0.4s ease-out;
}

.chicago-page .hotel-title:hover, .styled-link:hover {
    border-bottom: 2px solid var(--cranberry);
}

.chicago-page .hotel-section ul {
    margin-top: 30px;
}

.chicago-page .hotel {
    display: flex;
}

.chicago-page .hotel-img-link {
    background: #4a3753;
}

.chicago-page .hotel-img {
    width: 240px;
    align-self: center;
    transition: opacity 0.5s ease;
}

.chicago-page .hotel-img:hover {
    opacity: 0.7;
}

.chicago-page .hotel-text {
    padding-left: 18px;
    font-family: Courier, 'Courier Prime', monospace;
}

@media (max-width: 600px) {
    .chicago-page .hotel {
        display: block;
    }
    .chicago-page .hotel-text {
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .chicago-page .hotel-img {
        width: 100%;
    }
}

.chicago-page .rec-section {
    background-color: var(--paper-light);
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rec-section table {
    padding: 6px;
    width: 98%;
}

.rec-section td {
    color: var(--midnight);
    font-family: Courier;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 33%;
}

.rec-section td.border-bottom {
    border-bottom: 1px dashed var(--midnight);
}

/* RSVP Page */

.rsvp-page .title-outer-container {
    background-image: url('/images/butterfly-1-a40.png');
}

.rsvp-page {
    background-color: var(--dusty-blue);
}

.rsvp-page .text-section, .registry-page .text-section, .chicago-page .text-section, .under-construction .text-section {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.rsvp-page .text-section p, .registry-page .text-section p, .chicago-page .text-section p, .under-construction .text-section p {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    font-family: Courier, 'Courier Prime', monospace;
}

/* Under Construction Page */

.under-construction .title-outer-container {
    background-image: url('/images/bee-1.png');
}

/* Utility */

.fadein {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
