/* CSS custom properties */
:root {
  --paper: #eae3db;
  --paper-light: #F7F1E6;
  --midnight: #232834;
}

/* Default styles */
body {
    background-color: var(--paper);
}

h1, h2, h3 {
    color: red;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: bold;
    color: var(--midnight);
}

p {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: normal;
    color: var(--midnight);
}

.mono {
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
    font-style: normal;
}

.title-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title-container::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    border-top: 2px solid var(--midnight);
}

.title-container::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    border-bottom: 2px solid var(--midnight);
}

.title {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.subtitle {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Home page */
.home-page {
    background-color: var(--paper);
}

.main-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.main-menu a {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: var(--midnight);
    border: 2px solid var(--midnight);
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    padding-top: 152px;
    box-sizing: border-box;
    font-size: 20px;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .main-menu a {
        width: 100%;
    }
}

.main-menu a::before {
    content: " ";
    background-color: var(--paper-light);
    position: absolute;
    top: 4px;
    right: 4px;
    left: -6px;
    bottom: -6px;
    z-index: -1;
}

.main-menu a:hover::before {
    background-color: white;
}

.main-menu .details {
    background-size: auto 120px;
    background-position: center 20px;
    background-image: url('/images/branch-1-min.png');
}

.main-menu .about-us {
    background-size: auto 110px;
    background-position: center 30px;
    background-image: url('/images/bird-1-min.png');
}

.main-menu .registry {
    background-size: auto 120px;
    background-position: center 22px;
    background-image: url('/images/pinecone-1-min.png');
}

.main-menu .engagement {
    background-size: auto 90px;
    background-position: center 35px;
    background-image: url('/images/dog-1-min.png');
}

.main-menu .rsvp {
    background-size: auto 85px;
    background-position: center 45px;
    background-image: url('/images/butterfly-1-min.png');
}

.main-menu .party {
    background-size: auto 120px;
    background-position: center 20px;
    background-image: url('/images/tree-1-min.png');
}